<!DOCTYPE html>
<html>
<head>
    <title>Flask Collaborative Text Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script>
        var socket = io();

        var textBox = document.getElementById('text-box');
        textBox.addEventListener('input', function() {
            var text = textBox.value;
            var key = '{{ key }}';
            socket.emit('text_change', {'key': key, 'text': text});
        });

        socket.on('update_text', function(data) {
            if (data['key'] == '{{ key }}') {
                textBox.value = data['text'];
            }
        });
    </script>
</head>
<body>
    <h1>Flask Collaborative Text Editor</h1>
    <textarea id="text-box" cols="80" rows="25"></textarea>
</body>
</html>
